*
{
padding:0;
margin:0;
}
body
{
background-color:#ABF;/*#CF5;*/
font-family:arrial;
}
#content
{
width:960px;
background-color:#FFF;
margin:50px auto;
text-align:center;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
position:relative;
}
#content h1,h3
{
text-decoration:underline;
padding-bottom:20px;
}
#content form label
{
display:block;
float:left;
width:200px;
position:absolute;
left:100px;
}
#content form input,textarea
{
border:1px #000 solid;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
width:150px;
margin:2px auto;
height:18px;
}
#content form input[type=submit],input[type=file]
{
width:100px;
background-color:#365c98;
color:white;
cursor:pointer;

 }
 
 #content .error
 {
 color:red;
 border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin:2px auto;
width:300px;
text-align:center;
background-color:#CCC;
margin-left:330px;
}
#content .header
{
text-align:right;
margin-right:5px;

}
#content .menu
{
height:35px;
line-height:1.5em;
background-color:#ccc;/*cdd3fd;*/
border:1px solid #000;
font-weight:bold;
}
#content .menu ul li
{
float:left;
list-style:none;
line-height:36px;
border-left:1px solid #000;
}
#content .menu ul li a
{
color:#000;
text-decoration:none;
padding:25px;
}
#content .menu li .nbr
{
color:green;
padding-left:20px;
}
#content .Info
{
text-align:left;
padding:20px;
}
#content p strong
{
text-decoration:underline;
}
#content .info  p em
{
color:blue;
}
#content img
{
border:1px solid #000;
}
#content .info p a
{
color:green;
padding-left: 3px;
}
#content .success
 {
 color:green;
 border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin:2px auto;
width:300px;
text-align:center;
background-color:#CCC;
margin-left:330px;
font-weight:bold;
}
.ibi
{
background-color:#FF0000;
border:1px solid black;
color:#FFF;
border-radius:1px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
width:20px;
font-weight:bold;
position:relative;
left:670px;
top:10px;
width:15px;
height:17px;
}
.conversation,.messages
{
width:600px;
background-color:#333;
margin:0 auto;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}
.conversation a
{
color:pink;
}
.conversation p a
{
color:#FFF;
}
.messages a
{
color:pink;
}
.messages p
{
color:white;
}
.messages p em
{
color:lightgreen;
}